extends layout.pug 

block content 
  .container 
     h1 this app will allow users to create,delete and update students info 
     a.create(href='/create')  Create new note 
     
  footer 
    h5 “This web application was created to     fulfill Web Technology module’s requirements and does not represent an actual company or service”

